@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

