services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/pi_sustentabilidade/db.sqlite3:/app/pi_sustentabilidade/db.sqlite3
    environment:
      - DJANGO_SETTINGS_MODULE=pi_sustentabilidade.settings
      - DEBUG=True
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    # depends_on:
    #   - backend
    networks:
      - app-network

  socket_server:
    build:
      context: ./socket_server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge