services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/pi_sustentabilidade/db.sqlite3:/app/pi_sustentabilidade/db.sqlite3
    environment:
      - DJANGO_SETTINGS_MODULE=pi_sustentabilidade.settings
      - DEBUG=True
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: pi_sustentabilidade
      POSTGRES_USER: pi_user
      POSTGRES_PASSWORD: pi_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge