.container {
    display: flex;
    flex-direction: column;
    margin: 8vh 0 8vh 5vh;
    gap: 0.5vh;
}

.homeLogo, .mensagemLogo, .perfilLogo {
    width: 2.5vh;
}

.criarLogo {
    width: 2vh;
}

.redirecionamento {
    display: flex;
    align-items: center;
    gap: 2vh;
}